 @model IList<RentCarProject.Models.Cars>




     <h2>Admin Car List</h2>

     <table class="table table-bordered">
         <tr>
             <td>Car ID</td>
             <td>Car Mark</td>
             <td>Car Model</td>
             <td>Model Year</td>
             <td>Price</td>
         </tr>
     </table>
@foreach (var car in Model)
{
        <tr>
            <td>@car.id</td>
            <td>@car.CarMark</td>
            <td>@car.CarModel</td>
            <td>@car.ModelYear</td>
            <td>@car.Price</td>
            <td><a asp-controller="CarsController" asp-action="DeleteCar" class="btn btn-danger">Delete</a></td>
            <td><a asp-controller="CarsController" asp-action="" class="btn btn-success">Update</a></td>
        </tr>
}